.overlayModal {
  height: 100%;
  width: 100%;
  background: rgba(49, 49, 49, 0.945);
  position: absolute;
  z-index: 999999999;
}

.modalContainer {
  background-color: rgb(221, 221, 221);
  height: 450px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  h1 {
    position: absolute;
    font-weight: 800;
    font-size: 2rem;
    font-family: "Mukta Malar", sans-serif;
    color: #232323;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
  }
}

.closeBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  cursor: pointer;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
  }
}

.configUl {
  list-style-type: none;
  position: absolute;
  width: 60%;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -0%);
  background-color: aqua;
  height: 270px;

  li {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 80%;
    height: 40px;

    p {
      font-weight: 600;
      font-size: 1rem;
      font-family: "Mukta Malar", sans-serif;
      color: #232323;
    }
  }
}

.firstLi {
  top: 20px;
}
.secondLi {
  top: 80px;
}
.thirdLi {
  top: 120px;
}
.fourthLi {
  top: 160px;
}
.fifthLi {
  top: 200px;
}
