$AppColor: #ff6d00;
$CardColorRed: hsl(356, 81%, 88%);
$CardColorGreen: hsl(167, 33%, 84%);
$CardColorBlue: hsl(207, 61%, 86%);
$CardColorYellow: hsl(43, 82%, 89%);
$CardColorRedTransp: hsl(356, 81%, 88%, 0.7);
$CardColorGreenTransp: hsl(167, 33%, 84%, 0.7);
$CardColorBlueTransp: hsl(207, 61%, 86%, 0.7);
$CardColorYellowTransp: hsl(43, 82%, 89%, 0.7);

.overlayModal {
  height: 100%;
  width: 100%;
  background: rgba(49, 49, 49, 0.945);
  position: absolute;
  z-index: 999999999;
}

.modalContainer {
  background-color: rgb(221, 221, 221);
  background-image: url("../../media/patternpadMarcas.svg");
  height: 450px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  animation: initial-anim 0.3s ease-out;
  h1 {
    position: absolute;
    font-weight: 400;
    font-size: 2rem;
    font-family: "Luckiest Guy", cursive;
    background-color: $AppColor;
    color: white;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
  }
}

@keyframes initial-anim {
  0% {
    top: 0%;
  }
  75% {
    top: 52%;
  }
  100% {
    top: 50%;
  }
}
.modalContainerOut {
  background-color: rgb(221, 221, 221);
  background-image: url("../../media/patternpadMarcas.svg");
  height: 450px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  animation: exit-anim 0.3s ease-out;
  h1 {
    position: absolute;
    font-weight: 400;
    font-size: 2rem;
    font-family: "Luckiest Guy", cursive;
    background-color: $AppColor;
    color: white;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
  }
}

@keyframes exit-anim {
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}

.closeBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  cursor: pointer;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
  }
}

.configUl {
  list-style-type: none;
  position: absolute;
  height: 290px;
  width: 60%;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -0%);
  background-color: #fafafa;
  height: 280px;
  border-style: solid;
  border-width: 2px;
  border-color: $AppColor;
  border-radius: 5px;

  li {
    width: 80%;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 10px;
    box-shadow: 1px 1px #525252;

    input {
      width: 80%;
      position: absolute;
      left: 50%;
      top: 15px;
      transform: translate(-50%, -0%);
      background-color: transparent;
      text-align: center;
      outline: none;
      font-weight: 800;
    }
  }
}

.firstRowRed {
  top: 30px;
  background-color: $CardColorRed;
}
.firstRowBlue {
  top: 30px;
  background-color: $CardColorBlue;
}
.firstRowGreen {
  top: 30px;
  background-color: $CardColorGreen;
}
.firstRowYellow {
  top: 30px;
  background-color: $CardColorYellow;
}

.secondRowRed {
  top: 150px;
  background-color: $CardColorRed;
}
.secondRowBlue {
  top: 150px;
  background-color: $CardColorBlue;
}
.secondRowGreen {
  top: 150px;
  background-color: $CardColorGreen;
}
.secondRowYellow {
  top: 150px;
  background-color: $CardColorYellow;
}

.secondRow {
  top: 150px;
  background-color: rgb(144, 127, 255);
}

.colorsDiv {
  position: absolute;
  background-color: #282222;
  bottom: 10px;
  right: 10px;
  width: 45%;
  height: 25px;
  border-radius: 5px;

  div {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30%;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
  }
}

.colorRed {
  position: absolute;
  left: 5px;
  background-color: $CardColorRedTransp;
}
.colorRed:hover {
  background-color: $CardColorRed;
}

.colorBlue {
  left: 25px;
  background-color: $CardColorBlueTransp;
}
.colorBlue:hover {
  background-color: $CardColorBlue;
}

.colorGreen {
  left: 45px;
  background-color: $CardColorGreenTransp;
}
.colorGreen:hover {
  background-color: $CardColorGreen;
}
.colorYellow {
  left: 65px;
  background-color: $CardColorYellowTransp;
}
.colorYellow:hover {
  background-color: $CardColorYellow;
}

.playContainer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  position: absolute;
}

.play {
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  background-color: #ffd100;
  text-shadow: 2px 2px black;
  color: white;
  animation: parpadding 1s linear forwards infinite;
  cursor: pointer;
}
@keyframes parpadding {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@media all and (max-width: 550px) {
  .modalContainer {
    height: 400px;
    width: 350px;
    h1 {
      font-size: 1.8rem;
    }
    ul {
      li {
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
  .modalContainerOut {
    height: 400px;
    width: 350px;
    h1 {
      font-size: 1.8rem;
    }
    ul {
      li {
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
  .configUl {
    width: 70%;
    height: 255px;
    top: 75px;
  }

  .firstRowRed,
  .firstRowBlue,
  .firstRowGreen,
  .firstRowYellow {
    top: 18px;
  }
  .secondRowRed,
  .secondRowBlue,
  .secondRowGreen,
  .secondRowYellow {
    top: 134px;
  }
  .play {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 1705px) {
  .modalContainer {
    height: 45vh;
    width: 18vw;
    ul {
      top: 22%;
      height: 62%;
      width: 70%;

      li {
        height: 38%;
        input {
          font-size: 1vw;
          top: 10%;
        }
      }
    }
    h1 {
      font-size: 1.5vw;
      top: 1vh;
    }
  }
  .closeBtn {
    width: 2vw;
    height: 2vw;
    p {
      font-size: 1vw;
    }
  }
  .playContainer {
    bottom: 1vh;
    height: auto;
    h2 {
      font-size: 1.5vw;
      text-shadow: 0.05vw 0.1vw black;
    }
  }
  .firstRowRed,
  .firstRowBlue,
  .firstRowGreen,
  .firstRowYellow {
    border-radius: 1vh;
    top: 8%;
  }
  .secondRowRed,
  .secondRowBlue,
  .secondRowGreen,
  .secondRowYellow {
    border-radius: 1vh;
    top: 53%;
  }
  .colorsDiv {
    border-radius: 0.8vh;
    width: 50%;
    height: 25%;
    bottom: 10%;
    right: 6%;
    div {
      width: 20%;
      height: 75%;
    }
  }

  .colorRed {
    left: 4%;
  }
  .colorBlue {
    left: 28%;
  }
  .colorGreen {
    right: 28%;
    left: auto;
  }
  .colorYellow {
    right: 4%;
    left: auto;
  }
}
