@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.app-header {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 250px;
  background: rgb(123, 44, 191);
  background: linear-gradient(
    90deg,
    rgba(123, 44, 191, 1) 0%,
    rgba(157, 78, 221, 1) 100%
  );
}
.header-title {
  font-size: 5rem;
  font-family: "Luckiest Guy", cursive;
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
}
.iphone-container {
  width: 260px;
  position: absolute;
  top: 280px;
  left: 50px;
}
.iphone-pic {
  width: 100%;
}
.body-text-container {
  position: absolute;
  left: 300px;
  top: 50px;
  width: 500px;
}

.body-text {
  font-family: "Mukta Malar", sans-serif;
  font-size: 2rem;
}

@keyframes fade-in-body-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body-text-title {
  font-size: 3rem;
  font-weight: 800;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
}
.body-text-subt {
  position: absolute;
  font-weight: 800;
  top: 80px;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
}
.body-text-download {
  position: absolute;
  font-weight: 400;
  font-size: 1.5rem;
  top: 180px;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
.buttons-cointainer {
  position: absolute;
  top: 250px;
  height: 45px;
  width: 350px;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
.button-app {
  position: absolute;
  height: 100%;
  left: 0px;
}
.app-android {
  position: absolute;
  right: 0px;
  left: auto;
}
