.mainDiv {
  position: absolute;
  width: 100%;
  height: 800px;
  background-color: #dfdbe5;
  background-image: url("../pages/media/patternpad.svg");
}
.centerDiv {
  position: absolute;
  top: 25px;
  width: 800px;
  height: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fafafa;
}

.headerTitle {
  font-size: 3.5rem;
  font-family: "Luckiest Guy", cursive;
  color: white;
  background-color: #7b2cbf;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0%);
}

.btnsContainer {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%, 0%);
  width: 120px;

  height: 35%;
}

.configButton {
  position: absolute;
  width: 120px;
  height: 40px;
  background-color: #7b2cbf;
  border-radius: 6px;
  top: 20px;
  box-shadow: black 3px 3px;
  cursor: pointer;

  p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}
.rulesButton {
  position: absolute;
  width: 120px;
  height: 40px;
  background-color: #7b2cbf;
  border-radius: 6px;
  top: 80px;
  box-shadow: black 3px 3px;
  cursor: pointer;

  p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}
.startButton {
  position: absolute;
  width: 120px;
  height: 40px;
  background-color: #7b2cbf;
  border-radius: 6px;
  top: 140px;
  box-shadow: black 3px 3px;
  cursor: pointer;
  p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}

.startButton:hover {
  background-color: green;
}
.rulesButton:hover {
  background-color: green;
}
.configButton:hover {
  background-color: green;
}
