@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");

.appHeaderLight {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 221px;
  background: rgb(33, 29, 36);
  background: linear-gradient(
    90deg,
    rgba(33, 29, 36, 1) 0%,
    rgba(66, 63, 70, 1) 100%
  );
}

.appHeaderDark {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 221px;
  background: rgb(33, 29, 36);
  background: linear-gradient(
    90deg,
    rgba(33, 29, 36, 1) 0%,
    rgba(66, 63, 70, 1) 100%
  );
}

.toggleButton {
  position: absolute;
  width: 45px;
  height: 23px;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  right: 25px;
  cursor: pointer;
  bottom: 20px;
}

.toggleLight {
  animation: lightMode 0.3s linear forwards;
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: azure;
  top: 50%;
  transform: translate(0%, -50%);
  left: 2px;
  cursor: pointer;
}
.toggleDark {
  animation: darkMode 0.3s linear forwards;
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: azure;
  top: 50%;
  transform: translate(0%, -50%);
  left: 2px;
  cursor: pointer;
}

@keyframes lightMode {
  0% {
    left: 24px;
  }
  100% {
    left: 2px;
  }
}
@keyframes darkMode {
  0% {
    left: 2px;
  }
  100% {
    left: 24px;
  }
}

.h1LightMode {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.h1DarkMode {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.headerTitle {
  font-size: 7vw;
  font-family: "Luckiest Guy", cursive;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  white-space: nowrap;
}

.bodyDivLight {
  position: absolute;
  top: 220px;
  height: 501px;
  width: 100%;
  background-color: #fafafa;
}
.bodyDivDark {
  position: absolute;
  top: 220px;
  height: 501px;
  width: 100%;
  background-color: #141215;
}

.mainContainerRight {
  height: 100%;
  position: absolute;
  width: 50%;
  right: 0;
}

.mainContainerRight:hover,
.mainContainerLeft:hover {
  .iphoneContainer {
    animation: mainContainerEffect 0.5s infinite forwards;
  }
}

@keyframes mainContainerEffect {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  /*   66% {
    transform: rotate(1deg);
  } */
  100% {
    transform: rotate(-1deg);
  }
}

.mainContainerLeft {
  height: 100%;
  position: absolute;
  width: 50%;
  left: 0;
}

.footerLight {
  position: absolute;
  top: 760px;
  height: 180px;
  width: 100%;
  background-color: #140620;
}
.footerDark {
  position: absolute;
  top: 760px;
  height: 180px;
  width: 100%;
  background-color: #242027;
}

.footerComment {
  top: 15%;
  left: 2.5%;
  padding-right: 2.5%;
  position: absolute;

  p {
    color: #fafafa;
    font-family: "Mukta Malar", sans-serif;
    font-size: 1.2rem;
  }
}
.footerMadeBy {
  top: 60%;
  left: 2.5%;
  position: absolute;

  p {
    color: #fafafa;
    font-family: "Mukta Malar", sans-serif;
    font-size: 1rem;
  }

  div {
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: 30px;
    left: 0px;
    position: absolute;
  }
}

.iphoneContainer {
  transition: transform 0.2s;
  width: 20%;
  position: absolute;
  top: 60px;
  left: -1%;
}
#iphoneContainerRightId {
  left: 49%;
}
.iphonePic {
  width: 100%;
}
.bodyTextContainer {
  position: absolute;
  left: 35%;
  top: 60px;
  width: 60%;
  white-space: nowrap;
  height: 80%;
}

.bodyTextLight {
  font-family: "Mukta Malar", sans-serif;
  color: #232323;
  font-size: 3vw;
  font-weight: 800;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  display: inline;
  padding-right: 10px;
}
.bodyTextDark {
  font-family: "Mukta Malar", sans-serif;
  font-size: 3vw;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  display: inline;
  padding-right: 10px;
}

.bodyTextTablu {
  font-size: 3vw;
  background-color: #7b2cbf;
  font-family: "Luckiest Guy", cursive;
  display: inline;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  white-space: nowrap;
}

#bodyTextTabluRight {
  background-color: #ff6d00;
}

.bodyTextFirstRow {
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  width: 100%;
}
.bodyTextSecondRow {
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  width: 100%;
}
.bodyTextThirdRow {
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1.5s;
  opacity: 0;
  width: 100%;
  height: 25px;
  top: 45%;
  position: absolute;
}
.bodyTextFourthRow {
  position: absolute;
  top: 55%;
  height: 55px;
  width: 350px;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1.8s;
  opacity: 0;
}

.bodyTextFifth {
  top: 72%;
  width: 50%;
  height: 100px;
  position: absolute;
  animation: up-and-fade 0.3s linear forwards;
  opacity: 0;
  animation-delay: 2.5s;
}

@keyframes up-and-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.absDivIos {
  position: absolute;
  width: 45%;
  height: 100%;
  right: 0px;
  cursor: pointer;
}
.absDivAndroid {
  position: absolute;
  width: 45%;
  height: 100%;
  left: 0px;
  cursor: pointer;
}

.buttonsStores {
  height: 50px;
  position: relative;
}

@keyframes fade-in-body-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bodyTextTitle {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  padding-right: 10px;
}

.bodyTextSubtLight {
  position: absolute;
  font-weight: 800;
  font-size: 3vw;
  font-family: "Mukta Malar", sans-serif;
  color: #232323;
}
.bodyTextSubtDark {
  position: absolute;
  font-weight: 800;
  font-size: 3vw;
  font-family: "Mukta Malar", sans-serif;
  color: white;
}
.bodyTextDownloadLight {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  top: 170px;
  font-family: "Mukta Malar", sans-serif;
  color: #232322;
}
.bodyTextDownloadDark {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  font-family: "Mukta Malar", sans-serif;
  top: 170px;
}
.bodyTextWebVersionLight {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Mukta Malar", sans-serif;
  color: #232322;
}
.bodyTextWebVersionDark {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  font-family: "Mukta Malar", sans-serif;
}
.onlineVersion {
  font-size: 3vw;
  font-family: "Luckiest Guy", cursive;
  color: #9d4edd;
  text-shadow: 2px 2px black;
  position: absolute;
  top: 20px;
  animation: parpadding 1s linear forwards infinite;
  cursor: pointer;
}

#onlineVersionRight {
  color: #ff8500;
}

@keyframes parpadding {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.comSoon {
  position: absolute;
  background-color: #9f0005;
  font-weight: 400;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 99999;
  animation: alertSoon 2.5s ease-in-out;
  opacity: 0;

  p {
    font-family: "Luckiest Guy", cursive;
    font-size: 3rem;
    text-align: center;
    color: white;
  }
}

@keyframes alertSoon {
  0% {
    top: 120vh;
    opacity: 0.3;
  }

  40% {
    top: 50vh;
    opacity: 0.9;
  }
  60% {
    top: 50vh;
    opacity: 0.9;
  }

  100% {
    top: -20vh;
    opacity: 0.3;
  }
}

.middleContainerLight,
.middleContainerDark {
  position: absolute;
}
.middleContainerLight {
  background: rgb(242, 242, 242);
  background: linear-gradient(
    286deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(252, 250, 255, 1) 100%
  );
}
.middleContainerDark {
  background-color: #19171a;
}
@media all and (min-width: 1705px) {
  .headerTitle {
    font-size: 5vw;
  }
  .bodyTextWebVersionDark,
  .bodyTextWebVersionLight {
    font-size: 1vw;
  }
  .footerComment {
    p {
      font-size: 0.7vw;
    }
  }
  .footerMadeBy {
    p {
      font-size: 0.7vw;
    }
    top: 50%;
    div {
      width: 2vw;
      height: 2vw;
      top: 90%;
    }
  }
  .bodyTextFourthRow {
    height: 5vw;
    width: 20vw;
  }
  .appHeaderDark,
  .appHeaderLight {
    height: 15vh;
  }
  .bodyDivDark,
  .bodyDivLight {
    height: 70vh;
    top: 15vh;
  }
  .footerDark,
  .footerLight {
    top: 85vh;
    height: 15vh;
  }
}

@media all and (max-width: 1350px) {
  .bodyDivLight,
  .bodyDivDark {
    top: 180px;
    height: 450px;
  }

  .bodyTextFourthRow {
    width: 300px;
  }
  .footerLight {
    top: 630px;
    height: 200px;
  }
  .footerDark {
    top: 630px;
    height: 200px;
  }
  .footerMadeBy {
    top: 50%;
  }
  .appHeaderLight,
  .appHeaderDark {
    height: 180px;
  }
}
@media all and (max-width: 1100px) {
  .mainContainerRight,
  .mainContainerLeft {
    left: 50%;
    transform: translate(-40%, 0%);
  }
  #mainContainerRightID {
    top: 750px;
  }
  .middleContainerLight,
  .middleContainerDark {
    opacity: 1;
    top: 930px;
    height: 750px;
    width: 100%;
  }

  .iphoneContainer {
    top: 5%;
    left: 5%;
    width: 45%;
  }
  #iphoneContainerRightId {
    top: 105%;
    left: 5%;
  }

  .footerLight {
    top: 1680px;
    height: 200px;
  }
  .footerDark {
    top: 1680px;
    height: 200px;
  }
  .footerMadeBy {
    top: 55%;
  }
  .bodyTextContainer {
    top: 20%;
    h2 {
      font-size: 4vw;
    }
  }
  .bodyTextThirdRow {
    top: 30%;

    p {
      font-size: 1.5vw;
    }
  }
  .bodyTextFourthRow {
    top: 35%;
  }
  .bodyTextFifth {
    top: 50%;
  }
  .bodyTextWebVersionLight,
  .bodyTextWebVersionDark {
    font-size: 2.5vw;
  }

  .bodyDivDark,
  .bodyDivLight {
    height: 750px;
  }
  .onlineVersion {
    font-size: 6vw;
  }
}
@media all and (max-width: 980px) {
  .toggleButton {
    width: 35px;
    height: 20px;
  }
  .toggleDark,
  .toggleLight {
    height: 15px;
    width: 15px;
  }
  .h1LightMode,
  .h1DarkMode {
    font-size: 0.6rem;
  }
}

@media all and (max-width: 850px) {
  .appHeaderLight,
  .appHeaderDark {
    height: 150px;
  }
  .bodyDivDark,
  .bodyDivLight {
    top: 150px;
    height: 650px;
  }
  .middleContainerLight,
  .middleContainerDark {
    top: 800px;
    height: 650px;
  }
  .footerComment {
    p {
      color: #fafafa;
      font-family: "Mukta Malar", sans-serif;
      font-size: 0.8rem;
    }
  }
  .bodyTextThirdRow {
    top: 20%;
  }
  .bodyTextFourthRow {
    top: 125px;
  }
  .bodyTextFifth {
    top: 42%;
  }
  .iphoneContainer {
    top: 10%;
  }
  .bodyTextContainer {
    top: 15%;
  }
  .absDivIos {
    left: 0;
    width: 30%;
  }
  .absDivAndroid {
    left: 0;
    top: 40px;
    width: 30%;
  }
  .footerLight {
    top: 1450px;
    height: 200px;
  }
  .footerDark {
    top: 1450px;
    height: 200px;
  }
}

@media all and (max-width: 700px) {
  .headerTitle {
    font-size: 3rem;
  }
  .bodyDivDark,
  .bodyDivLight {
    height: 800px;
  }
  .middleContainerLight,
  .middleContainerDark {
    top: 950px;
    height: 750px;
  }
  .mainContainerRight,
  .mainContainerLeft {
    left: 0%;
    transform: translate(-0%, 0%);
    width: 100%;
  }
  #mainContainerRightID {
    top: 750px;
  }
  .bodyTextContainer {
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .bodyTextFirstRow {
    text-align: center;
    h2 {
      font-size: 2rem;
    }
  }
  .bodyTextSecondRow {
    text-align: center;
    h2 {
      position: relative;
      font-size: 2rem;
    }
  }
  .bodyTextThirdRow {
    top: 80%;
    p {
      font-size: 1rem;
    }
  }
  .bodyTextFourthRow {
    top: 85%;
    width: 100%;
  }
  .bodyTextFifth {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 92%;
    h1 {
      position: relative;
    }
  }
  .absDivAndroid {
    left: 15%;
    top: 0;
    right: auto;
  }
  .absDivIos {
    right: 15%;
    left: auto;
  }
  .bodyTextWebVersionDark,
  .bodyTextWebVersionLight {
    text-align: center;
    position: relative;
    font-size: 0.9rem;
    top: 20%;
  }
  .onlineVersion {
    font-size: 2.5rem;
  }
  .iphoneContainer {
    left: 50%;
    transform: translate(-50%, 0%);
    top: 20%;
    width: 280px;
  }
  #iphoneContainerRightId {
    top: 115%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 280px;
  }
  .footerLight {
    top: 1700px;
    height: 200px;
  }
  .footerDark {
    top: 1700px;
    height: 200px;
  }
}
@media all and (max-width: 450px) {
  .headerTitle {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 350px) {
  .headerTitle {
    font-size: 2rem;
  }
  .appHeaderLight,
  .appHeaderDark {
    height: 120px;
  }
  .bodyDivDark,
  .bodyDivLight {
    height: 700px;
  }
  .middleContainerLight,
  .middleContainerDark {
    top: 850px;
    height: 650px;
  }
  .mainContainerRight,
  .mainContainerLeft {
    left: 0%;
    transform: translate(-0%, 0%);
    width: 100%;
  }
  #mainContainerRightID {
    top: 650px;
  }
  .bodyTextContainer {
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .bodyTextFirstRow {
    text-align: center;
    h2 {
      font-size: 1.5rem;
    }
  }
  .bodyTextSecondRow {
    text-align: center;
    h2 {
      position: relative;
      font-size: 1.5rem;
    }
  }
  .bodyTextThirdRow {
    top: 80%;
    p {
      font-size: 0.7rem;
    }
  }
  .bodyTextFourthRow {
    top: 85%;
    width: 100%;
  }
  .bodyTextFifth {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 92%;
    h1 {
      position: relative;
    }
  }
  .absDivAndroid {
    left: 15%;
    top: 0;
    right: auto;
  }
  .absDivIos {
    right: 15%;
    left: auto;
  }
  .bodyTextWebVersionDark,
  .bodyTextWebVersionLight {
    font-size: 0.7rem;
    top: 20%;
  }
  .onlineVersion {
    font-size: 2rem;
  }
  .iphoneContainer {
    top: 15%;
    width: 250px;
  }
  #iphoneContainerRightId {
    top: 110%;

    width: 250px;
  }
  .footerComment {
    p {
      font-size: 0.5rem;
    }
  }
  .footerMadeBy {
    div {
      top: 20px;
    }
    p {
      font-size: 0.5rem;
    }
  }
  .toggleButton {
    width: 30px;
    height: 15px;
    right: 12px;
    bottom: 12px;
  }
  .toggleDark,
  .toggleLight {
    height: 12px;
    width: 12px;
  }
  .footerLight {
    top: 1450px;
    height: 150px;
  }
  .footerDark {
    top: 1450px;
    height: 150px;
  }
}
@media all and (max-width: 250px) {
  .headerTitle {
    font-size: 1rem;
  }
  .bodyTextFirstRow {
    text-align: center;
    h2 {
      font-size: 1rem;
    }
  }
  .bodyTextSecondRow {
    text-align: center;
    h2 {
      position: relative;
      font-size: 1rem;
    }
  }
  .bodyTextThirdRow {
    top: 80%;
    p {
      font-size: 0.4rem;
    }
  }
  .bodyTextFourthRow {
    top: 85%;
    width: 100%;
  }
  .onlineVersion {
    font-size: 1rem;
  }
  .iphoneContainer {
    width: 90%;
  }
  #iphoneContainerRightId {
    width: 90%;
  }
}
