@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");

.appHeaderLight {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 220px;
  background: #7b2cbf;
  background: linear-gradient(
    90deg,
    rgba(123, 44, 191, 1) 0%,
    rgba(157, 78, 221, 1) 100%
  );
}

.videoframe {
  display: flex;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: auto;
  margin-top: 84px;
  border-width: 0px;
}
.videonoframes {
  border-width: 0px;
}

.appHeaderDark {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 220px;
  background: rgb(33, 29, 36);
  background: linear-gradient(
    90deg,
    rgba(33, 29, 36, 1) 0%,
    rgba(66, 63, 70, 1) 100%
  );
}

.toggleButton {
  position: absolute;
  width: 45px;
  height: 23px;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  right: 25px;
  cursor: pointer;
  top: 25px;
}

.toggleLight {
  animation: lightMode 0.3s linear forwards;
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: azure;
  top: 50%;
  transform: translate(0%, -50%);
  left: 2px;
  cursor: pointer;
}
.toggleDark {
  animation: darkMode 0.3s linear forwards;
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: azure;
  top: 50%;
  transform: translate(0%, -50%);
  left: 2px;
  cursor: pointer;
}

@keyframes lightMode {
  0% {
    left: 24px;
  }
  100% {
    left: 2px;
  }
}
@keyframes darkMode {
  0% {
    left: 2px;
  }
  100% {
    left: 24px;
  }
}

.h1LightMode {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.h1DarkMode {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.headerTitle {
  font-size: 5rem;
  font-family: "Luckiest Guy", cursive;
  color: white;
  position: absolute;
  top: 30px;
  left: 40px;
}

.bodyDivLight {
  position: absolute;
  top: 220px;
  height: 500px;
  width: 100%;
  background-color: #fafafa;
}
.bodyDivDark {
  position: absolute;
  top: 220px;
  height: 500px;
  width: 100%;
  background-color: #141215;
}

.footerLight {
  position: absolute;
  top: 720px;
  height: 300px;
  width: 100%;
  background-color: #140620;
}
.footerDark {
  position: absolute;
  top: 720px;
  height: 300px;
  width: 100%;
  background-color: aqua;
}

.iphoneContainer {
  width: 260px;
  position: absolute;
  top: 60px;
  left: 30px;
}
.iphonePic {
  width: 100%;
}
.bodyTextContainer {
  position: absolute;
  left: 330px;
  top: 60px;
  width: 500px;
}

.bodyTextLight {
  font-family: "Mukta Malar", sans-serif;
  color: #232323;
  font-size: 3rem;
  font-weight: 800;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  display: inline;
  padding-right: 10px;
}
.bodyTextDark {
  font-family: "Mukta Malar", sans-serif;
  font-size: 2rem;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  display: inline;
  padding-right: 10px;
}

.bodyTextTablu {
  font-size: 2.8rem;
  background-color: #7b2cbf;
  font-family: "Luckiest Guy", cursive;
  display: inline;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

.bodyTextFirstRow {
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  width: 500px;
  height: 75px;
}
.bodyTextSecondRow {
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  width: 500px;
  height: 75px;
}
.bodyTextThirdRow {
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1.5s;
  opacity: 0;
  width: 500px;
  height: 25px;
  top: 180px;
  position: absolute;
}
.bodyTextFourthRow {
  position: absolute;
  top: 205px;
  height: 55px;
  width: 350px;
  animation: fade-in-body-text 0.5s linear forwards;
  animation-delay: 1.8s;
  opacity: 0;
}

.bodyTextFifth {
  left: 330px;
  top: 350px;
  width: 500px;
  height: 100px;
  position: absolute;
  animation: up-and-fade 0.3s linear forwards;
  opacity: 0;
  animation-delay: 2.5s;
}

@keyframes up-and-fade {
  0% {
    opacity: 0;
    top: 360px;
  }

  100% {
    opacity: 1;
    top: 355px;
  }
}

.absDivIos {
  position: absolute;
  width: 45%;
  height: 100%;
  right: 0px;
}
.absDivAndroid {
  position: absolute;
  width: 45%;
  height: 100%;
  left: 0px;
}

.buttonsStores {
  height: 50px;
  position: relative;
}

@keyframes fade-in-body-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bodyTextTitle {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  padding-right: 10px;
}

.bodyTextSubtLight {
  position: absolute;
  font-weight: 800;
  top: 80px;
  font-size: 2rem;
  font-family: "Mukta Malar", sans-serif;
  color: #232323;
}
.bodyTextSubtDark {
  position: absolute;
  font-weight: 800;
  top: 80px;
  font-size: 2rem;
  font-family: "Mukta Malar", sans-serif;
  color: white;
}
.bodyTextDownloadLight {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  top: 170px;
  font-family: "Mukta Malar", sans-serif;
  color: #232322;
}
.bodyTextDownloadDark {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  font-family: "Mukta Malar", sans-serif;
  top: 170px;
}
.bodyTextWebVersionLight {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Mukta Malar", sans-serif;
  color: #232322;
}
.bodyTextWebVersionDark {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  font-family: "Mukta Malar", sans-serif;
}
.onlineVersion {
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  color: #9d4edd;
  text-shadow: 2px 2px black;
  position: absolute;
  top: 20px;
  animation: parpadding 1s linear forwards infinite;
  cursor: pointer;
}

@keyframes parpadding {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
